/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
 

/****BACKGROUND AND HEADER******/
#background{
width:100%;
height:100%;
top:0;
left:0;
overflow:hidden;
background: -webkit-gradient(linear, left bottom, left top, color-stop(70%,rgba(11, 22, 183, 1)), color-stop(0%,rgba(255,255,255,0)));
position:fixed;
z-index: 1;
}


header h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 75px;
    margin-left: 300px; 
    margin-top: 25px; 
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    position:relative;
    z-index:2;
}

header h2 {
   font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-left: 475px; 
    margin-top: 25px; 
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    position:absolute;
    z-index:3;
}

/*******MAIN*********/

#main-container{
    height:450px;
    width:825px;
    margin-left:300px;
    margin-top: 75px;
    position:relative;
    z-index: 2;
}



/******INPUT*******/

#input-container{
    height:250px;
    width:825px;
    margin-left:0px;
    margin-top: 0px;
    position:fixed;
    z-index: 2;
}


#player-guess{
    height:200px;
    width:200px;
    font-size: 60px;
    text-align: center;
    margin-left:290px;
    margin-top: 10px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 150px;
    position:relative;
    float:left;
    z-index: 3;
}

#submit-btn{
    height:100px;
    width:100px;
    margin-left:450px;
    margin-top:100px;
    background-color: #000;
    border: 2px solid black;
    border-radius: 150px;
    position:relative;
    z-index: 4;
}

#submit-btn div{
    z-index:5;
    position:absolute;
    color:#fff;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 35px;
    margin-left:30px;
}



/*******GUESSES********/

#guesses-container{
    height:125px;
    width:825px;
    margin-left:0px;
    margin-top: 250px;
    position:fixed;
    z-index: 2;
}

ul{
  margin-left: 130px;
  list-style: none;
  padding: 0;
}


li{
  display:inline-block;
  vertical-align: top;
  background:#fff;
  height: 70px;
  width:100px;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}



/****mMENU BTNS ********/
#menu-btns-container{
   height:100px;
    width:825px;
    margin-left:0px;
    margin-top: 375px;
    position:fixed;
    z-index: 2;
}


#reset{
    height:50px;
    width:150px;
    margin-left:230px;
    margin-top:10px;
    background-color: #fff;
    border: 2px solid black;
    position:relative;
    float:left;
    z-index: 4;
}

#reset div{
    z-index:5;
    position:absolute;
    color:#000;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 15px;
    margin-left:45px;
}


#hint{
    height:50px;
    width:150px;
    margin-right:250px;
    margin-top:10px;
    background-color: #fff;
    border: 2px solid black;
    position:relative;
    float:right;
    z-index: 4;
}

#hint div{
    z-index:5;
    position:absolute;
    color:#000;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 15px;
    margin-left:45px;
}




/*****FOOTER******/

#footer {
  width: 100%;
  height:200px;
  background-color: white;
  position: fixed;
  bottom: 0;
}

img {
  z-index: 2;
  width:200px;
  position:absolute;
  margin-left: 975px;
  margin-top: 125px;
  float:left;
}

h4{
  color:#000;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  z-index: 2;
  margin-left: 1200px;
  margin-top: 150px;
  position:absolute;
  float:right;

}



